<!DOCTYPE html>
<html>
<head>
  <title>Spline updating each second | Highcharts</title>
  <link rel="stylesheet" href="http://www.highcharts.com/joomla/media/templates/highsoft_2015/css/bootstrap.min.css" type="text/css" />
  <script src="http://www.highcharts.com/joomla/media/com_demo/js/highslide-full.min.js" type="text/javascript"></script>
  <script src="http://www.highcharts.com/joomla/media/com_demo/js/highslide.config.min.js" type="text/javascript"></script>
  <script src="http://www.highcharts.com/lib/jquery-1.7.2.js" type="text/javascript"></script>
  <script src="http://www.highcharts.com/joomla/media/templates/highsoft_2015/js/bootstrap.js" type="text/javascript"></script>
  <script src="http://www.highcharts.com/joomla/media/templates/highsoft_2015/js/modernizr.js" type="text/javascript"></script>
  <script src="http://www.highcharts.com/joomla/media/templates/highsoft_2015/js/script.js" type="text/javascript"></script>
  <script src="http://www.highcharts.com/joomla/media/templates/highsoft_2015/js/jquery.appear.min.js" type="text/javascript"></script>

{% block body %}{% endblock %}

